*
{
	text-decoration:none;
	margin:0px; 
	padding:0px; 
	outline:0;
	list-style:none;
	border:0;
}
html
{
	height:100%;
}
body
{
	background-color:#383746;
	font-size:14px;
	color:rgba(255,255,255,.8);
	text-align:center;
	height:100%;
	font-family: Coda, Arial, Helvetica, sans-serif;
	max-width:600px;
	margin:auto;
	display:table;
	height:100%;
}
.content
{
	display:table-cell;
	vertical-align:middle;
	padding:20px;
}
h1
{
	font-weight:bold;
	font-size:30px;
	margin:30px 0;
}
h2
{
	font-weight:normal;
	font-size:20px;
	margin:20px 0 10px 0;
}
img
{
	max-width:100%;
}
main
{
	max-width:90%;
	margin:auto;
}
p
{
	color:rgba(255,255,255,.6);
	padding:0 0 12px 0;
	line-height:1.6;
}
a
{
	color:#49d292;
	transition:color 200ms;
}
a:hover
{
	color:#e8f79a;
}
.button
{
	margin:10px 0 20px 0;
	display:inline-block;
	border:1px solid #6bd8a5;
	background:#49d292;
	font-size:18px;
	padding:15px 30px;
	color:rgba(0,0,0,.95);
	border-radius:10px;
	transition:background 200ms, box-shadow 200ms, border 200ms;
	box-shadow:0 0 5px rgba(73,210,146,.8);
}
.button:hover
{
	color:rgba(0,0,0,.95);
	background:#e8f79a;
	box-shadow:0 0 5px rgba(232,247,154,.8);
	border:1px solid #f8ffd4;
}